/* Add CSS Styling */

.pink {
  background-color: rgb(255, 182, 193);
  font-family: Verdana, DejaVu Sans, sans-serif;
}

#two {
  color: rgb(0, 0, 255);
  font-size: 2em;
}
#four{
  background-color: rgb(144, 238, 144);
  font-weight: bold;
}
.bigger {
  font-size: 1.5em;
}

