body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 8vh;
  background: darkmagenta;
  color: white;
  font-weight: 800;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  padding-left: 1em;
}

.footer {
  height: 8vh;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 20vw;
  padding: 1em;
}

.content {
  flex: 1;
  display: flex;

}

.card-group {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  padding: 2.4em;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}
 .sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
 }

 .sidebar {
  flex-shrink: 0;
  padding: 1em;
 }

 li {
  margin-bottom: 1em;
 }